<h1>Settings</h1>

<hr />

<legend>Personal settings</legend>
<%= render :partial => "personal_settings", :locals => { } %>

<legend>External email settings</legend>

<legend>People following</legend>

<legend>Oragnisation following</legend>

<legend>Cirlces</legend>

<legend>People blocked</legend>

<legend>Organisations blocked</legend>

<legend>Services blocked</legend>