<div class="row">
  <div class="col-xs-12">
    <h2>Developer zone - Quick links to features</h2>

    <code>
      <h3>Phase 1</h3>
      <ul>
        <li><a href="#">Inscription - Individual</a></li>
        <li><a href="#">Inscription - Organisation</a></li>
        <li><a href="#">Settings - Individual</a></li>
        <li><a href="#">Settings - Organisation</a></li>
        <li><a href="#">Circles</a></li>
        <li><a href="#">Internal Mailing (functionality)</a></li>
        <li><a href="#">Accessibility Settings</a></li>
      </ul>
    </code>

  </div>
</div>