<h1>Add user to circle</h1>
<%= bootstrap_horizontal_form_for @user, :url => circles_add_user_process_path do |f| %>
    <%= render :partial => "user", :locals => { :f => f, :label_col => 2, :field_col => 3 } %>
<% end %>
