<h1>Manage your circles</h1>
<div class="row">
    <div class="col-sm-12">
      <%= link_to t(:create_new_circle), circles_create_path, :class => 'btn btn-primary' %>
    </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <thead>
        <tr>
          <th>Circle ID</th>
          <th>Circle name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
