<h1>Create new circle</h1>

<%= bootstrap_horizontal_form_for @circles, :url => circles_path(@circles) do |f| %>
<%= render :partial => "form", :locals => { :f => f, :label_col => 2, :field_col => 3 } %>
<% end %>