<h1>Circles members</h1>

<div class="row">
  <div class="col-sm-12">
    <%= link_to t(:btn_create), circle_add_user_path(:circle_id => @circle.id), :class => "btn btn-primary" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
      <tr>
        <th>Member ID</th>
        <th>Username</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @members.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.user.username %></td>
            <td>
              <%= link_to t(:btn_delete), circle_remove_user_path(:id=>item.id,:circle_id=>@circle.id),:method => :delete, data: { confirm: "Are you sure?"}, :class => 'btn btn-danger'  %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

